.card {
	padding-top: 110px;
	padding-bottom: 40px;
@include media (min, lg) {
	padding-top: 220px;
	padding-bottom: 80px;
}
	// .card__breadcrumbs
	&__breadcrumbs {
		@include media (min, lg) {
			margin-bottom: 60px;
		}
	}

	// .card__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);

	}

	// .card__grid
	&__grid {
		display: grid;
		margin-bottom: 40px;

		@include media (min, md) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 20px;
		}
		@include media (min, lg) {
			grid-template-columns: 56% 42%;
			margin-bottom: 74px;
		}
	}

	// .card__title
	&__title {
		text-align: left;
		max-width: 245px;
		margin-bottom: 10px;
		@include media (min, md) {
			max-width: unset;
		}
		@include media (min, lg) {
			margin-bottom: 25px;
		}
	}

	// .card__text
	&__text {
		text-align: left;
		@include media (min, lg) {
			margin-bottom: 15px;
		}

	}

	// .card__btn
	&__btn {
		width: 280px;
		margin: 20px auto 0;
		@include media (min, lg) {
			margin-left: 0;
			width: 268px;
		}
	}

	// .card__img
	&__img {

		max-width: 280px;
		height: 274px;
		border-radius: 30px;
		margin-bottom: 20px;

		grid-area: 3;

		@include media (min, md) {
			grid-area: 1/2/5/3;
			margin: 0;
			justify-self: flex-end;
			max-width: 460px;
			height: 330px;
		}
		@include media (min, lg) {
			height: 448px;
		}

	}

	// .card__education
	&__education {
		@include flex ($flex-direction: column);

		.card__title {
			margin-bottom: 20px;
			@include media (min, lg) {
				margin-bottom: 50px;
			}
		}
	}

	// .card__list
	&__list {
		@include flex ($flex-direction: column);
		gap: 40px;
		@include media (min, lg) {
			gap: 30px;
		}
	
	}

	// .card__item
	&__item {
		@include flex ();
		gap: 30px;
		@include media (min, md) {
			gap: 60px;
		}
		@include media (min, lg) {
			gap: 210px;
		}
		.card__title {
			margin-bottom: 0;
		}
	}

}