.contacts {
	padding-top: 110px;
	padding-bottom: 40px;

	@include media (min, lg) {
		padding-top: 220px;
		padding-bottom: 100px;
	}

	// .contacts__title
	&__title {
		text-align: left;
		margin-bottom: 30px;

		@include media (min, lg) {
			margin-bottom: 40px;
		}
	}

	// .contacts__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);

		@include media (min, lg) {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 20px;
		}
	}

	// .contacts__block
	&__block {
		@include flex ($flex-direction: column);
		max-width: 560px;
		gap: 36px;


		background-color: #FFFFFF;
		border-radius: 30px;
		padding: 30px 0 45px;
		margin-bottom: 40px;

		@include media (min, lg) {
			border-radius: 40px;
			margin-bottom: 0;
			padding-top: 45px;
			gap: 50px;
			width: 100%;

		}


	}

	// .contacts__nav
	.nav {

		// .nav__list
		&__list {
			padding-left: 0;
			gap: 12px;

			@include media (min, lg) {
				flex-direction: column;

				gap: 18px;
			}
		}

		// .nav__item
		&__item {
			font-size: 12px;
			line-height: 18px;
			padding: 12px 0;
			padding-left: 70px;


			@include media (min, lg) {

				font-size: 16px;
				line-height: 20px;
				padding-left: 100px;
			}


			&::after {
				@include pseudo;
				@include wh(79%, 1px);
				@include pos (absolute, $bottom:-6px, $left:50%);
				background-color: rgba(15, 47, 46, 0.08);

				transform: translateX(-50%);

			}

			&:last-child::after {
				display: none;
			}

		}

		&__item--work::before,
		&__item--mail::before,
		&__item--tel::before,
		&__item--map::before {
			@include pseudo;

			top: 15px;
			left: 33px;

		}

		// .nav__item--map
		&__item--map {}

		// .nav__link
		&__link {}

		// .nav__item--work
		&__item--work {}

		// .nav__item--mail
		&__item--mail {}

		// .nav__item--tel
		&__item--tel {}
	}

	// .contacts__social
	&__social {
		padding-left: 35px;
		gap: 32px;
		justify-content: flex-start;

		@include media (min, lg) {
			padding-left: 65px;
		}

		// .social__item
		&__item {}

		// .social__link
		&__link {}

		// .social__img
		&__img {}
	}


	// .contacts__map
	&__map {
		max-width: 560px;
		width: 100%;
		height: 398px;

		border-radius: 40px;

	}
}