.doctors {
	padding-top: 40px;

	@include media (min, lg) {
		padding-top: 105px;
	}

	// .doctors__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);

	}

	// .doctors__title
	&__title {
		text-align: left;
		margin-bottom: 20px;

		@include media (min, lg) {
			margin-bottom: 40px;
		}
	}

	// .doctors__box
	&__box {
		position: relative;
	}

	// .doctors__swiper
	.swiper {
		margin-bottom: 20px;
		max-width: 100%;
	}

	// .doctors__buttons
	&__buttons {
		position: relative;
		@include flex (space-between, center);
		gap: 13px;
		width: 100px;
		right: -180px;

		@include media (min, lg) {

			gap: 20px;
			width: 150px;
			right: -87%;
			top: -520px;
		}
	}


	// .doctors__btn
	&__btn {
		width: 140px;

		@include media (min, lg) {
			width: 220px;
			margin: 0 auto;
		}
	}
}