.forms {


	// .forms__wrapper
	&__wrapper {
		background-color: #53CD8B;
		border-radius: 30px;
		@include flex ($flex-direction: column);
		padding: 30px 20px 35px;
		@include media (min, lg) {
			border-radius: 40px;
			padding: 50px 60px 55px;
		}
	}

	// .forms__content
	&__content {
		@include flex($flex-direction: column);
		margin-bottom: 30px;
		@include media (min, sm) {
			flex-direction: row;
			justify-content: center;
			gap: 20px;
		}
		@include media (min, lg) {
			gap: 110px;
			margin-bottom: 50px;
		}
	}

	// .forms__title
	&__title {
		color: #FFF;
		margin-bottom: 20px;
		@include media (min, sm) {
			margin-bottom: 0;
			width: 50%;
		}
		@include media (min, lg) {
			text-align: left;
		}
	}

	// .forms__text
	&__text {

		color: #FFF;
		@include media (min, sm) {
			max-width: 50%;
			text-align: left;
		}
		@include media (min, lg) {
			max-width: unset;
		}
		
	}

	// .forms__form
	&__form {}
}