.services {
	padding-top: 42px;

	@include media (min, lg) {
		padding-top: 105px;
	}

	// .services__title
	&__title {
		text-align: left;
		margin-bottom: 22px;

		@include media (min, lg) {
			margin-bottom: 44px;
		}
	}

	// .services__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);
	}

	// .services__top
	&__top {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 10px;

		p:first-child {
			text-align: left;
		}

		p:nth-child(2) {
			text-align: center;
			margin-left: 30px;

			@include media (min, lg) {
				margin-left: 60px;
				text-align: right;
			}
		}

		p:last-child {
			text-align: right;

			@include media (min, lg) {
				text-align: center;
				margin-left: 50px;
			}
		}

		@include media (min, lg) {
			margin-bottom: 20px;
			padding: 0 60px;
		}
	}

	// .services__btn
	&__btn {
		width: 140px;
		margin: 0 auto;
		margin-top: 20px;

		@include media (min, lg) {
			width: 187px;
			margin-top: 40px;
		}
	}
}
