.form {
	@include flex ($flex-direction: column);

	@include media (min, md) {
		flex-direction: row;
		gap: 20px;
	}

	@include media (min, xl) {
		gap: 20px;
	}

	// .form__box
	&__box {
		@include flex ($flex-direction: column);
		gap: 10px;

		@include media (min, md) {
			width: 50%;
			gap: 20px;

			@include media (min, xl) {
				gap: 20px;
				width: 39%;
			}

			&--gap0 {
				gap: 0;
				width: 58%;

			}

			@include media (min, xl) {}
		}


	}

	// .form__wrap
	&__wrap {
		@include flex ($flex-direction: column);

		&--relative {
			position: relative;
			max-width: 400px;

		}

	}

	// .form__label
	&__label {}

	// .form__input
	&__input {
		padding-left: 30px;
		@include wh(100%, 40px);
		min-width: 240px;
		border: 2px solid #0F2F2E;
		border-radius: 50px;
		background-color: transparent;

		@include media (min, md) {
			height: 50px;
		}

		@include media (min, lg) {
			height: 60px;
			padding-left: 50px;
			max-width: 400px;
		}
		&:focus,
		&:focus-visible{
			border-color: #0F2F2E;
		}


	}

	&__input::placeholder,
	&__textarea::placeholder {


		font-family: 'OnestMedium';

		font-weight: 500;
		font-size: 12px;
		line-height: 15px;

		color: #0F2F2E;

		@include media (min, lg) {
			font-size: 16px;
			line-height: 20px;
		}

	}

	// .form__rating-stars
	&__rating-stars {
		@include flex (space-between, center);
		width: 95px;

		@include pos (absolute, $top: 50%, $right: 30px);
		transform: translateY(-50%);




		input {
			display: none;
		}

		label {
			@include wh(16px);

			background-color: #000b;
			display: inline-flex;
			cursor: pointer;

			transition: all 1s ease 0s;
			clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
		}

		label[for=rs0] {
			display: none;
		}

		label:before {
			@include pseudo;
			@include wh(90%);
			z-index: -1;
			clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
			background: linear-gradient(90deg, #F7CC34, #F7CC34 30% 50%, #A1F1C6 50%, 70%, #A1F1C6 100%);
			background-size: 205% 100%;
			background-position: 0 0;
		}

		label:hover:before {
			transition: all 0.25s ease 0s;
		}

		input:checked+label~label:before {
			background-position: 100% 0;
			transition: all 0.25s ease 0s;
		}

		input:checked+label~label:hover:before {
			background-position: 0% 0
		}


	}

	// .form__textarea
	&__textarea {
		min-width: 240px;
		height: 120px;

		border: 2px solid #0F2F2E;
		border-radius: 20px;
		background-color: transparent;
		padding: 15px 30px;
		resize: none;

		@include media (min, xl) {
			max-width: 600px;
			height: 140px;

			padding: 20px 50px;


			border-radius: 30px;


		}


	}

	// .form__inner
	&__inner {
		@include flex ($flex-direction: column);

		@include media (min, md) {
			margin-top: 10px;
		}

		@include media (min, lg) {
			flex-direction: row;
			gap: 10px;
			margin-top: 20px;

		}

		@include media (min, xl) {
			
			gap: 30px;
		}
	}

	// .form__btn
	&__btn {
		margin-bottom: 20px;
	}

	// .form__text
	&__text {
		color: #fff;
		text-align: left;

		@include media (min, lg) {
			max-width: 240px;
		}
		@include media (min, xl) {
			font-size: 14px;
			max-width: 340px;
		}
	}

	// .form__link
	&__link {
		text-decoration: underline !important;
	}
}