.services {

	// .services__accordeon
	&__accordeon {

		width: 100%;

		input {
			display: none;

			&:checked {


				~.services__item {

					max-height: 1000px;
					opacity: 1;
					transition: all 300ms ease-in;
					padding: 10px 20px 16px;

					@include media (min, lg) {
						padding: 20px 95px 16px 60px;

					}
				}
			}
		}

		label {
			display: inline-block;
			font-family: 'OnestMedium';

			font-size: 14px;
			line-height: 140%;

			color: #FFFFFF;
			width: 100%;
			position: relative;


			padding: 10px 0 10px 20px;

			background: #53CD8B;
			border-radius: 40px;


			&::before {
				content: "";
				display: block;
				background: url("./../img/icons/arrow.svg") 0 0 no-repeat;
				background-size: 100%;
				@include wh(15px, 10px);
				@include pos (absolute, $top: 40%, $right: 18px);


				transform: rotate(180deg);
				transition: transform .2s ease;

				@include media (min, lg) {

					@include wh(25px, 20px);
					right: 59px;
				}
			}

			@include media (min, lg) {

				font-size: 22px;
				padding: 25px 0 25px 60px;

			}
		}

		input:checked~label::before {
			transform: rotate(0deg);
		}

	}

	// .services__item
	&__item {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		margin-bottom: 2px;
		max-height: 0;
		opacity: 0;
		transition: font-size 300ms 300ms ease-in, opacity 300ms 0ms ease-in;
		position: relative;

		&::before {
			@include pseudo;
			@include wh(100%, 200%);
			background-color: #fff;
			@include pos (absolute, $top: 50%, $left: 50%);
			transform: translate(-50%, -50%);
			z-index: -1;
			border-radius: 20px;

		}

		&:last-child {
			&::before {
				height: 100%;
			}
		}

	}

	// .services__box
	&__box {



		@include flex ($flex-direction: column);
		line-height: 200%;


		color: #0F2F2E;

		&:first-child {
			text-align: left;
		}

		&:nth-child(2) {
			text-align: center;


			@include media (min, lg) {

				text-align: right;
			}
		}

		&:last-child {
			text-align: right;

			@include media (min, lg) {
				text-align: center;

			}
		}

	}

	// .services__text
	&__text {

		font-size: 8px;
		line-height: 200%;
		text-align: inherit;

		color: #0F2F2E;

		@include media (min, lg) {
			font-size: 16px;
		}



	}


}