@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OnestMedium";
	font-display: swap;
	src: url("../fonts/OnestMedium.woff2") format("woff2"), url("../fonts/OnestMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "OnestRegular";
	font-display: swap;
	src: url("../fonts/OnestRegular.woff2") format("woff2"), url("../fonts/OnestRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}